h3{
	color: green;
	background-color: lightpink;
}

.heading1{
	background-color: gray;
}
.border{
	border: 5px dotted blue;
}

#h3{
	color:red ;
}
table, th, td {
	border: 1px solid black;
}


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.box{
	width: 100px;
	height: 100px;
	background-color: red;
    padding: 50px 20px;
    color: gray;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}   

.city{
	background-color: red;
    color: gray;
    border: 2px solid black;
    margin: 15px;
    padding: 30px;
}
#myHeader {
  background-color: skyblue;
  color: black;
  padding: 25px;
  text-align: center;
}

 
 




 